!**
# 文件
.vim-bookmarks
*.lnk
NetrwTreeListing
# plugin目录
nvim-treesitter
nvim-treesitter-context
nvim-ts-rainbow
packer.nvim
telescope-ui-select.nvim
telescope-vim-bookmarks.nvim
vim-bookmarks
awesome-vim-colorschemes
nightfox.nvim
tokyonight.nvim
vim-startuptime
# my-neovim-data
**/my-neovim-data/project_nvim
# 匹配
# 输出文件或文件夹
saved_images
output
*.html
*.pdf
*.docx
# 大的输入文件或文件夹
*.csv
[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]_[0-9][0-9]-[0-9][0-9]-[0-9][0-9]*.*
