!**
# 文件
.vim-bookmarks
*.lnk
NetrwTreeListing
# plugin目录
**/pack/packer/**/nvim-treesitter
**/pack/packer/**/nvim-treesitter-context
**/pack/packer/**/nvim-ts-rainbow
**/pack/packer/**/packer.nvim
**/pack/packer/**/telescope-ui-select.nvim
**/pack/packer/**/telescope-vim-bookmarks.nvim
**/pack/packer/**/vim-bookmarks
**/pack/packer/**/awesome-vim-colorschemes
**/pack/packer/**/nightfox.nvim
**/pack/packer/**/tokyonight.nvim
**/pack/packer/**/vim-startuptime
**/pack/packer/**/vim-auto-save
**/pack/packer/**/nerdcommenter
**/pack/packer/**/mkdir.nvim
**/pack/packer/**/nvim-autopairs
**/pack/packer/**/vim-bad-whitespace
**/pack/packer/**/nvim-web-devicons
# my-neovim-data
**/my-neovim-data/project_nvim
# 匹配
# 输出文件或文件夹
saved_images
output
*.html
*.pdf
*.docx
# 大的输入文件或文件夹
*.csv
[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]_[0-9][0-9]-[0-9][0-9]-[0-9][0-9]*.*
