!**
# 文件
.vim-bookmarks
*.lnk
NetrwTreeListing
# plugin目录
**/pack/packer/**/awesome-vim-colorschemes
**/pack/packer/**/hop.nvim
**/pack/packer/**/mkdir.nvim
**/pack/packer/**/nerdcommenter
**/pack/packer/**/nightfox.nvim
**/pack/packer/**/nvim-autopairs
**/pack/packer/**/nvim-treesitter
**/pack/packer/**/nvim-treesitter-context
**/pack/packer/**/nvim-ts-rainbow
**/pack/packer/**/nvim-web-devicons
**/pack/packer/**/packer.nvim
**/pack/packer/**/telescope-ui-select.nvim
**/pack/packer/**/telescope-vim-bookmarks.nvim
**/pack/packer/**/tokyonight.nvim
**/pack/packer/**/vim-auto-save
**/pack/packer/**/vim-bad-whitespace
**/pack/packer/**/vim-bookmarks
**/pack/packer/**/vim-startuptime
**/pack/packer/**/vim-surround
**/pack/packer/**/nvim-cmp
**/pack/packer/**/nvim-lspconfig
**/pack/packer/**/mason.nvim
**/pack/packer/**/mason-lspconfig.nvim
**/pack/packer/**/gitsigns.nvim
**/pack/packer/**/vim-fugitive
**/pack/packer/**/diffview.nvim
**/pack/packer/**/which-key.nvim
**/pack/packer/**/vim-projectroot
**/pack/packer/**/indent-blankline.nvim
**/pack/packer/**/nvim-bqf
**/pack/packer/**/vim-highlighter
**/pack/packer/**/vim-searchindex
**/pack/packer/**/asyncrun.vim
**/pack/packer/**/nvim-scrollview
**/pack/packer/**/aerial.nvim
**/pack/packer/**/markdown-preview.nvim
**/pack/packer/**/code_runner.nvim
# my-neovim-data
**/my-neovim-data/project_nvim
# 匹配
# 输出文件或文件夹
saved_images
output
*.html
*.pdf
*.docx
# 大的输入文件或文件夹
*.csv
[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]_[0-9][0-9]-[0-9][0-9]-[0-9][0-9]*.*
__pycache__
**/my-neovim-data/mason/packages/lua-language-server/log
saved_images
